annotated-doc==0.0.4
annotated-types==0.7.0
anyio
bcrypt==4.0.1
certifi
cffi
chardet
click
dnspython
email-validator
exceptiongroup
fastapi
fastapi-cli
greenlet
h11
httpcore
httptools
httpx
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
orjson
pillow
psycopg2-binary
pycparser
pydantic
pydantic_core
Pygments
pypng
python-dotenv
python-multipart
PyYAML
qrcode
reportlab
rich
rich-toolkit
shellingham
SQLAlchemy
starlette
tomli
typer
typing-inspection
typing_extensions
ujson
uvicorn
uvloop
watchfiles
websockets